.wrap__info {

    color: #d2d2d2;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: #f0f2f5;
}

.wrap__chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border-radius: 10px;
}

.wrap .wrap__chat .wrap__chat__title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.chatWindow {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.messageList {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.message {
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    line-height: 1.5;
}

.user {
    background-color: #e0f7fa;
    align-self: flex-start;
}

.bot {
    background-color: #e1f5fe;
    align-self: flex-end;
}

.inputWrap {
    display: flex;
    align-items: center;
    padding: 15px;
    border-top: 1px solid #ddd;
}

.input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 10px 15px;
    background-color: #1c8adb;
    /* 버튼 색상 조정 */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    text-align: center;
    margin: 10px 0;
}

.toneSelector {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.toneSelector label {
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
}

.toneSelector__tone {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: border-color 0.3s ease;
}

.toneSelector__tone:focus {
    border-color: #1c8adb;
}

.toneSelector__tone option {
    padding: 10px;
    font-size: 16px;
}

.lastResponse {
    width: 40%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    height: 597px;
    overflow-y: auto;
}

.lastResponse__title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.lastResponse__wrap {
    display: flex;
    flex-direction: column;
}

.lastResponse__cont {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}