.header {
    width: 100%;
    background-color: #001f3f;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.nav {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.leftNav {
    display: flex;
    align-items: center;
}

.rightNav {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

.navLink {
    margin-left: 20px;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.navLink:hover {
    color: #1c8adb;
}

.navLink:visited,
.navLink:link,
.navLink:active {
    color: white;
}